[flake8]
; This config is for running flake8 stand-alone. The config for pytest-flake8 is in pyproject.toml.
; https://pep8.readthedocs.io/en/latest/intro.html#error-codes
; https://flake8.pycqa.org/en/latest/user/error-codes.html
extend-ignore = E203
max-line-length = 120
max-doc-length = 120
max-complexity = 10
exclude =
    migrations,
    __pycache__,
    .mypy_cache,
    .pytest_cache,
    .git,
    .tox,
    .eggs,
    *.egg,,
    static,
    templates,
    locale,
