[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.11"

[packages]
boto3 = "==1.26.129"
celery = "==5.2.7"
crispy-bootstrap5 = "==2024.10"
django = "==4.2.20"
django-allauth = {extras = ["mfa"], version = "==65.5.0"}
django-celery-beat = "==2.5.0"
django-celery-results = "==2.5.0"
django-compressor = "==4.3.1"
django-configurations = "==2.4.1"
django-constance = {version = "==2.9.1", extras = ["database"]}
django-crispy-forms = "==2.3"
django-extensions = "==3.2.1"
django-health-check = "==3.17.0"
django-kaio = "==1.5.0"
django-logentry-admin = "==1.1.0"
django-migration-checker = "==0.8.0"
django-prometheus = "==2.3.1"
django-recaptcha = "==4.0.0"
django-redis = "==5.2.0"
django-robots = "==5.0"
django-storages = "==1.14.6"
django-yubin = "==2.0.5"
flower = "==1.2.0"
numpy = "==2.2.4"
pillow = "==11.1.0"
psycopg = {version = "==3.1.9", extras = ["binary"]}
python-telegram-bot = "==22.0"
redis = "==4.5.5"
requests = "==2.32.3"
sentry-sdk = "==2.8.0"
uwsgi = "==2.0.26"
dj-database-url = "*"

[dev-packages]
autoflake = "==1.7.8"
bandit = {version = "==1.8.3", extras = ["toml"]}
black = "==24.3.0"
celery-types = "==0.15.0"
coverage = "==7.8.0"
debugpy = "==1.6.7"
django-debug-toolbar = "==4.0.0"
django-stubs = "==4.2.2"
flake8 = "==4.0.1"
flake8-django = "==1.2.0"
flake8-eradicate = "==1.4.0"
ipdb = "==0.13.13"
ipython = "==8.13.2"
isort = "==6.0.1"
model-bakery = "==1.11.0"
mypy = "==1.4.1"
pytest = "==7.3.1"
pytest-black = "==0.3.12"
pytest-checkipdb = "==1.0.9"
pytest-django = "==4.5.2"
pytest-flake8 = "==1.1.1"
pytest-mypy = "==0.10.3"
pytest-xdist = "==3.2.1"
safety= "==3.3.1"
whitenoise = "==6.4.0"
