{% extends "base.html" %}
{% load i18n static crispy_forms_tags allauth%}

{% block title %}{% trans "Two-Factor Authentication" %} | HodlWatcher{% endblock title %}

{% block content %}
<div class="container px-5 my-5">
    <div class="text-center mb-5">
        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">{% trans "Two-Factor Authentication" %}</span></h1>
    </div>
    <div class="row gx-5 justify-content-center">
        <div class="col-lg-11 col-xl-9 col-xxl-8">
            <!-- 2FA Section -->
            <section>
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="d-flex align-items-center mb-4">
                            <div class="feature bg-primary text-white rounded-3 me-3">
                                <i class="bi bi-shield-lock"></i>
                            </div>
                            <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">{% trans "Authenticate Your Account" %}</span></h3>
                        </div>

                        <p class="lead mb-4">
                            {% blocktranslate %}Your account is protected by two-factor authentication. Please enter an authenticator code:{% endblocktranslate %}
                        </p>

                        <!-- TOTP Form -->
                        {% url 'mfa_authenticate' as action_url %}
                        <form method="post" action="{{ action_url }}" class="mb-4">
                            {% csrf_token %}
                            {{ form|crispy }}

                            <div class="d-grid gap-2 d-md-flex justify-content-md-center mt-4">
                                <button type="submit" class="btn btn-primary me-md-2">
                                    <i class="bi bi-lock me-2"></i>{% trans "Sign In" %}
                                </button>

                                {% if "webauthn" not in MFA_SUPPORTED_TYPES %}
                                <button type="submit" form="logout-from-stage" class="btn btn-outline-secondary">
                                    <i class="bi bi-x-circle me-2"></i>{% trans "Cancel" %}
                                </button>
                                {% endif %}
                            </div>
                        </form>

                        <!-- WebAuthn Section -->
                        {% if "webauthn" in MFA_SUPPORTED_TYPES %}
                        <hr class="my-4">

                        <div class="text-center mb-3">
                            <h4 class="fw-bold">{% translate "Alternative options" %}</h4>
                        </div>

                        <div class="d-grid gap-3">
                            <button id="mfa_webauthn_authenticate" class="btn btn-outline-primary">
                                <i class="bi bi-key me-2"></i>{% trans "Use a security key" %}
                            </button>

                            <button type="submit" form="logout-from-stage" class="btn btn-outline-secondary">
                                <i class="bi bi-x-circle me-2"></i>{% trans "Cancel" %}
                            </button>
                        </div>

                        <!-- Hidden WebAuthn Form -->
                        <form id="webauthn_form" method="post" action="{{ action_url }}" class="d-none">
                            {% csrf_token %}
                            {{ webauthn_form|crispy }}
                        </form>

                        {{ js_data|json_script:"js_data" }}
                        {% include "mfa/webauthn/snippets/scripts.html" %}
                        <script data-allauth-onload="allauth.webauthn.forms.authenticateForm" type="application/json">
                            {
                                "ids": {
                                    "authenticate": "mfa_webauthn_authenticate",
                                    "credential": "{{ webauthn_form.credential.auto_id }}",
                                    "data": "js_data"
                                }
                            }
                        </script>
                        {% endif %}
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<!-- Hidden Logout Form -->
<form id="logout-from-stage" method="post" action="{% url 'account_logout' %}">
    <input type="hidden" name="next" value="{% url 'account_login' %}">
    {% csrf_token %}
</form>
{% endblock content %}
