{% extends "base.html" %}
{% load i18n %}
{% load allauth %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}{% trans "Create Passkey" %} | HodlWatcher{% endblock title %}

{% block content %}
<div class="container px-5 my-5">
    <div class="text-center mb-5">
        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">{% trans "Create Passkey" %}</span></h1>
    </div>
    <div class="row gx-5 justify-content-center">
        <div class="col-lg-11 col-xl-9 col-xxl-8">
            <!-- Passkey Creation Section -->
            <section>
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="d-flex align-items-center mb-4">
                            <div class="feature bg-primary text-white rounded-3 me-3">
                                <i class="bi bi-key-fill"></i>
                            </div>
                            <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">{% trans "New Security Key" %}</span></h3>
                        </div>

                        <p class="lead mb-4">
                            {% blocktranslate %}You are about to create a passkey for your account. As you can add additional keys later on, you can use a descriptive name to tell the keys apart.{% endblocktranslate %}
                        </p>

                        {% url 'mfa_signup_webauthn' as action_url %}
                        <form method="post" action="{{ action_url }}" id="passkey-form">
                            {% csrf_token %}
                            {{ form|crispy }}

                            <div class="d-grid gap-2 d-md-flex justify-content-md-center mt-4">
                                <button id="mfa_webauthn_signup" type="button" class="btn btn-primary me-md-2">
                                    <i class="bi bi-key-fill me-2"></i>{% trans "Create Passkey" %}
                                </button>
                                <button type="submit" form="logout-from-stage" class="btn btn-outline-secondary">
                                    <i class="bi bi-x-circle me-2"></i>{% translate "Cancel" %}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<!-- Hidden Logout Form -->
<form id="logout-from-stage" method="post" action="{% url 'account_logout' %}">
    <input type="hidden" name="next" value="{% url 'account_login' %}">
    {% csrf_token %}
</form>

{% include "mfa/webauthn/snippets/scripts.html" %}
{{ js_data|json_script:"js_data" }}
<script data-allauth-onload="allauth.webauthn.forms.signupForm" type="application/json">
{
    "ids": {
        "signup": "mfa_webauthn_signup",
        "credential": "{{ form.credential.auto_id }}",
        "data": "js_data"
    }
}
</script>
{% endblock content %}
